.patreon {
  background-color: #ff424d;
}

.kofi {
  background-color: #13c3ff;
}

.steam {
  background-color: #000000;
}

.vrchat {
  background-color: #0000ff;
}

.twitter {
  background-color: #1d9bf0;
}

.pixlshare {
  background-color: #FF4500;
}

.codeberg {
  background-color: #2185D0;
}

.ryotcc {
  background-color: #fff;
}

.github {
  background-color: #0FBF3E;
}

.idea {
  background-color: #2f3c3f;
}

.qr {
  background-color: #444;
}

.video {
  background-color: #0a0a0f;
}

.np {
  background-color: #282a36;
}