@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1d1d1d;
  // color: #fff;
}

// @import "./themes/winter/winterTheme";
@import "./themes/winterv2/style.scss";

#FullFrame {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.mainContainer {
  z-index: 1000;

  width: 100%;
  height: 100vh;

  .centerContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;

    height: 100%;
    width: 100%;

    .container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-content: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      align-items: center;

      padding: 5rem 2rem 1rem 2rem;

      border-radius: 15px;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: 'Arial', sans-serif;
      text-align: center;

      img {
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 2rem;
      }

      h2 {
        font-family: "Montserrat Subrayada", sans-serif;
        margin-bottom: 2rem;
      }

      button {
        background-color: transparent;
        border: .1rem solid #fff;
        width: 3rem;
        height: 3rem;
        border-radius: .5rem;
        color: #fff;

        cursor: pointer;

        ion-icon {
          font-size: 24px;
        }
      }
    }
  }
}

.att {
  position: absolute;
  bottom: 0;
  right: 0;

  z-index: 9999;

  padding: .5rem 1rem;
  background-color: #383838;
  color: #fff;
  border-left: .1rem solid #646464;
  border-top: .1rem solid #646464;
  border-top-left-radius: .25rem;
}

.socialsContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  align-items: center;

  // margin-top: 105vh;
  color: #fff;

  width: 100%;
  height: 100vh;

  a {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;

    width: 50%;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-family: "Montserrat Subrayada", sans-serif;
    border-radius: 0.25rem 0rem 0rem 0.25rem;
    padding: 1rem;
    margin: 0.5rem 0rem;

    img {
      height: 3rem;
      width: 3rem;
      padding-bottom: 0.25rem;
      object-fit: contain;
    }
  }

  .patreon {
    background-color: #ff424d;
  }

  .kofi {
    background-color: #13c3ff;
  }

  .steam {
    background-color: #000000;
  }

  .vrchat {
    background-color: #0000ff;
  }

  .twitter {
    background-color: #1d9bf0;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar:hover {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: none;
}

::-webkit-scrollbar-thumb:hover {
  background: none;
}